<br>
<br>
<div class="container">
<div class="card" style="width: 60rem;">
        <div class="card-body">
                <div class="card-header">
                    จัดการห้องพัก
                </div>
<table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">หมายเลขห้องพัก</th>
            <th scope="col">สถานะ</th>
            <th scope="col">จัดการ</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of showdata ; let i = index" >
          <tr>
                <td class="text-center">{{item.Room_ID}}</td>
                <td>{{item.statusName}}</td>
            <td >
                    <button type="button" class="btn btn-outline-warning">EDIT</button>
                    &nbsp;
                    <button type="button" class="btn btn-outline-danger" (click)="delete(item.Room_ID,
                    item.statusName)">DELETE</button>
            </td>
          </tr>
        </tbody>
      </table>
        </div>
      </div>

    </div>