<br>
<br>
<div class="container">
<div class="card" style="width: 60rem;">
        <div class="card-body">
        
<table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">หมายเลขห้องพัก</th>
            <th scope="col">ชื่อผู้จอง</th>
            <th scope="col">ประเภทห้อง</th>
            <th scope="col">วันที่เข้า-ออก</th>
            <th scope="col">ราคา</th>
            <th scope="col">ผลการอนุมัติ</th>
           
          </tr>
        </thead>
        <tbody *ngFor="let item of showBooking; let i = index">
          <tr>
            <td class="text-center" >{{item.Room_ID}}</td>
                        <td>{{item.BookingName}}</td>
                        <td>{{item.TroomName}}</td>
                        <td>{{item.DateStart}} / {{item.DateLast}} </td>
                        <td>{{item.Price}}  </td>
                        <td>{{item.BookingSName}}  </td>
          </tr>
        </tbody>
      </table>
        </div>
      </div>

    </div>