<br>
<br>
<div class="container">
<div class="card" style="width: 60rem;">
        <div class="card-body">
        
<table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">หมายเลขห้องพัก</th>
            <th scope="col">สถานะ</th>
            <th scope="col">จัดการ</th>
          </tr>
        </thead>
        <tbody >
          <tr>
            <td class="text-center"></td>
            <td></td>
            <td >
                <button type="button" class="btn btn-warning">จอง</button>
            </td>
          </tr>
        </tbody>
      </table>
        </div>
      </div>

    </div>